@import url(../css/homepage2.css);
@import url(../css/variables3.css);

.catalog__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.catalog__container {
    position: relative;
    height: 35vh;
    align-content: center;
    row-gap: 3rem;
}

.category__title {
    position: relative;
    display: block;
    /* font-size: var(--biggest-font-size); */
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
    padding-left: 15px;
    margin-bottom: 30px;
    line-height: 1;
    margin-top: 0px;
}

.category__container{
    background-color: var(--white-color);
    border: 1px solid #eee;
    margin-right: 4rem;
    padding: 3rem;
}

.category__menu{
    position: relative;
    display: block;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 30px;
    line-height: 1.5;
}

.category__link{
    color: var(--text-color-light);
}

.category__link:hover{
    color: var(--title-color);
}


.anyClass {
    height:150px;
    overflow-y: hidden;
  }