@import url(../css/main.css);

.home__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.home__container {
    position: relative;
    height: 60vh;
    align-content: center;
    padding-top: 10rem;
    /* row-gap: 2rem; */
}

.home__data{
    position: absolute;
    top: 25%;
    right: 55%;
}

.home__data-subtitle, 
.home__data-title, .catalog__data-title
.home__social-link, 
.home__info {
    color: var(--white-color)
}

.home__data-title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-medium);
    /* margin-bottom: var(--mb-2-5); */
}

/*=============== BUTTONS ===============*/
.home__button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--title-color);
    padding: 1rem 2rem;
    font-weight: var(--font-semi-bold);
    transition: .3s;
}

.buttons__group{
    text-align: center;
}

.buttons__group input{
    text-transform: uppercase;
    background-color: transparent;
}

.buttons__group input + input{
    margin-left: 3.5rem;
}

/*=============== RECOMMEDANTION AREA ===============*/
.hot__products{
    margin-top: 6rem;
}

.hot__products i{
    font-size: 3rem; 
    color: var(--title-color);
}
.recommendation__container{
    margin-top: 6rem;
}

.card{
    border: none !important;
    border-radius: 1rem !important;
    cursor: pointer;
    transition: 1s;
    margin: var(--mb-1-25) var(--mb-0-25) var(--mb-1-25) var(--mb-0-25);
}

.card:hover{
    box-shadow: 0 4px 25px rgba(12,36,49,.15);
    transform: scale(1.1);
}

.card__fName{
    font-size: var(--h3-font-size);
    font-family: var(--body-font);
}

.card__fPrice{
    font-size: var(--h2-font-size);
    font-family: var(--body-font);
}

.card__button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--white-color);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
    padding: 0.4rem 1.5rem;
    transition: .3s;
    border-radius: 1.5rem;
    border: none;
}

.card__button:hover{
    background-color: #0075F6;
    color: white;
}

.owl-theme .owl-dots .owl-dot {
    outline: none;
    color: var(--title-color) !important;

}

.owl-theme .owl-nav .owl-prev,
.owl-theme .owl-nav .owl-next{
    outline: none;
}

.owl-theme .owl-nav .owl-prev {
    font-size: 40px !important;
    position: absolute;
    top: 40%;
    left: -40px;
    display: block !important;
    border:0px solid black;
}

.owl-theme .owl-nav .owl-next {
    position: absolute;
    font-size: 40px !important;
    top: 40%;
    right: -40px;
    display: block !important;
    border:0px solid black;
}


/*=============== COMPANY INFO ===============*/
.info{
    margin-top: 5rem;
    color: var(--white-color);
}

.info h1{
    color: var(--white-color);
}

.info i{
    font-size: 5rem;
}

#intro {
    background: url("../images/banner/banner4.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 5rem 0 5rem 0;
    height: auto;
}


/*=============== COMPANY INFO ===============*/
.donation{
    background: var(--first-color);
    height: 40vh;
    margin-top: 5rem;
}

.donation__info{
    margin-top: 3rem;
}

.donation__info h2{
    color: var(--white-color);
}

.donate__image{
    position: relative;
    top: -90px;
}


.btn-info{
    border: 0 !important;
    color: var(--title-color) !important;
    font-weight: bolder !important;
}


/*=============== SWIPER ===============*/
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px !important;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px !important;
    height: 300px !important;
  }

  .swiper-slide img {
    display: block;
    width: 100%;         

  }


/*=============== CONTACT US ===============*/
.contact{
    color: var(--title-color-light);
    font-size: medium;
}

.contact i{
    font-size: x-large; 
    vertical-align: middle;
}

.contact form{
    padding-left: 6rem; 
    padding-right: 4rem;
}

/*=============== GOOGLE MAP ===============*/

.mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:600px;
  }

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:400px;
    width:500px;
  }

/*=============== SWEET ALERT ===============*/

.message_footer:focus{
    outline: none !important;
}

/*=============== SCROLL TO TOP BUTTON ===============*/
.scrollup{
    position: fixed;
    right: 2rem;
    bottom: -20%;
    color: white;
    background-color: var(--title-color);
    opacity: .8;
    padding: 0.3rem;
    border-radius: 25%;
    transition: .4s;
  }
  
  .scrollup:hover{
    color: white;
    transform: scale(1.1);
  }
  .show-scroll{
    bottom: 15rem;
  }
  