{% load static %}
{% static "images/" as baseUrl %}
{% block content %}

{% include 'admin/sidebar.html' %}

<main class="main-content">
    <div class="row mb-3">
        <div class="col">
            <h1 class="ml-2">Product Management</h1>
        </div>
        <div class="col">
            <a href="{% url 'administration:add-item' %}" class="btn btn-success mr-3 float-right">
                Add +
            </a>
        </div>
    </div>

    <div class="card border-0 shadow-sm px-4 py-5 mb-4">
        <table id="product_table" class="table table-hover" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th class="text-center">Stock</th>
                <th class="text-center">Delete</th>
              </tr>
            </thead>
            <tbody>
                {% for object in furniture %}
                <tr class="clickable-tr" >
                    <td>{{ object.furnitureId }}</td>
                    <td>{{ object.furnitureName }}</td>
                    <td>{{ object.categoryId.categoryName }}</td>
                    <td class="text-center">{{ object.stock }}</td>
                    <td class="text-center">
                        <a href="{{ object.delete_item_url }}">
                            <i class='material-icons' style="color: brown;">delete</i>
                        </a>
                    </td>
                </tr>
                {% endfor %}  
            </tbody>
        </table>
    </div>
</main>

<script>
    $('.clickable-tr').on('click', function(){
        var myLink = $(this).attr('href');
        window.location.href = myLink;
      });
</script>

{% endblock content %}