{% load static %}
{% static "images/" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Homepage</title>

    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="{% static 'css/homepage1.css' %}"/>  
    
    <!-- Owl Carousel StyleSheet -->
    <link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css">
</head>
<body>
    {% include 'header.html' %}

    <main class="main">
        <!------------ BANNER ------------>
        <section class="home" id="home">
            <img src="{% static 'images/banner/banner2.jpg' %}" alt="" class="home__img">

            <div class="home__container container grid">
                <div class="home__data">
                    <h1 class="home__data-title">Choose<br><b style="font-size: larger;">Refurbished Furniture</b><br>For Better Living</h1>
                    <!-- <span class="home__data-subtitle">Discover your place</span>
                    <button type="button" class="btn home__button primary-button mr-4 text-uppercase">Go Catalog</button> -->
                </div>
            </div>
        </section>

        <!------------ RECOMMENDATION AREA ------------>
        <section class="recommendation" id="recommendation">
            <div class="carousel recommendation__container">
                <div class="container">
                    {% if zipped_data %}
                        {% for fname,query in zipped_data %}
                            <div class="mt-5">
                                <h3>Because You Bought {{ fname }}</h3>
                            </div>

                            <div class="owl-carousel owl-theme row text-center">
                            {% for object in query %}
                            <div class="col">
                                <a href="{{ object.update_view_count_url }}">
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <img src="{{baseUrl}}/{{object.furnitureImg}}" alt="" class="mb-3 mx-auto">
                                            <h3 class="card__fName text-uppercase">{{object.furnitureName}}</h3>
                                            <h2 class="card__fPrice mb-3">${{object.unitPrice}}</h2>
                                            <a href="{{ object.add_to_cart_url }}" class="card__button text-uppercase mb-3">
                                                <i class="uil uil-shopping-cart"></i>
                                                Add To Cart
                                            </a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                            </div>
                        {% endfor %}                        
                    {% endif %}                

                    {% if cf_recommend_list %}
                        <div class="mt-5">
                            <h3>Inspired by your browsing history</h3>
                        </div>

                        <div class="owl-carousel owl-theme row text-center">
                            {% for object in cf_recommend_list %}
                            <div class="col">
                                <a href="{{ object.update_view_count_url }}">
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <img src="{{baseUrl}}/{{object.furnitureImg}}" alt="" class="mb-3 mx-auto">
                                            <h3 class="card__fName text-uppercase">{{object.furnitureName}}</h3>
                                            <h2 class="card__fPrice mb-3">${{object.unitPrice}}</h2>
                                            <a href="{{ object.add_to_cart_url }}" class="card__button text-uppercase mb-3">
                                                <i class="uil uil-shopping-cart"></i>
                                                Add To Cart
                                            </a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                    {% if popularity_recommend_list %}
                        <div class="mt-5">
                            <h3>Trending Now</h3>
                        </div>

                        <div class="owl-carousel owl-theme row text-center">
                            {% for object in popularity_recommend_list %}
                            <div class="col">
                                <a href="{{ object.update_view_count_url }}">
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <img src="{{baseUrl}}/{{object.furnitureImg}}" alt="" class="mb-3 mx-auto">
                                            <h3 class="card__fName text-uppercase">{{object.furnitureName}}</h3>
                                            <h2 class="card__fPrice mb-3">${{object.unitPrice}}</h2>
                                            <a href="{{ object.add_to_cart_url }}" class="card__button text-uppercase mb-3">
                                                <i class="uil uil-shopping-cart"></i>
                                                Add To Cart
                                            </a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <!-- <div class="section__title">
                        <h2>Because You Bought {}</h2>
                    </div>
                    <div class="owl-carousel owl-theme row text-cente">
                        {% for getdata in furniture|slice:"12" %}
                        <div class="col">
                            <a href="{{ getdata.update_view_count_url }}">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <img src="{{baseUrl}}/{{getdata.furnitureImg}}" alt="" class="mb-3 mx-auto">
                                        <h3 class="card__fName text-uppercase">{{getdata.furnitureName}}</h3>
                                        <h2 class="card__fPrice mb-3">${{getdata.unitPrice}}</h2>
                                        <a href="{{ getdata.add_to_cart_url }}" class="card__button text-uppercase mb-3">
                                            <i class="uil uil-shopping-cart"></i>
                                            Add To Cart
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}   
                    </div> -->
                </div>
            </div>
        </section>

        <!------------ COMPANY INFO ------------>
        <section class="info" id="info">
            <div class="info__container p-5">
                <div class="section__title">
                    <div class="container-fluid mt-5">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="about-image">
                                    <img src="{% static 'images/banner/info.jpg' %}" alt="About us" class="img-fluid rounded">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="pt-3 w-75">
                                    <h2 class="text-uppercase pb-4">
                                        <span>About Us</span>
                                    </h2>
                                    <div class="paragraph">
                                        <p class="text-justify">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque eveniet inventore amet quidem aliquid quo, 
                                            nesciunt obcaecati dolor fuga nostrum eos laborum vitae! Nisi porro ipsa quaerat soluta dolorem quidem culpa 
                                            perferendis, enim quisquam eaque facere optio reprehenderit
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 

        <!------------ DONATION ------------>
        <section class="donation" id="donation">
            <div class="donation__container container w-50">
                <div class="text-center py-5">
                    <h3 class="donation__title">Donate your used furniture to us for refurbishment!</h3>

                    <a href="#contact" class="btn btn-info mt-3">
                        Donate Now
                        <i class="material-icons align-middle">arrow_forward</i>
                    </a>
                </div>
            </div>
        </section> 

    {% include 'footer.html' %}
    
    {% if messages %}
        {% for message in messages %}
        <script>
            Swal.fire({
                icon: 'success',
                title: '{{ message }}',
                footer: '<a href="{% url "ecommerce:cart" %}">Check my cart now.</a>'
            })
        </script>    
        {% endfor %}	
    {% endif %}

    
    <!-- Owl Carousel JS (SWIPER) -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>

    <script type="text/javascript">
        $('.owl-carousel').owlCarousel({
           loop:true,
           nav:true,
           dots: true,
           margin: 10,
           navText : ['<i class="uil uil-angle-left-b swiper-portfolio-icon"></i>','<i class="uil uil-angle-right-b swiper-portfolio-icon"></i>'],
           responsive:{
             0:{
               items:2
             },
             600:{
               items:3
             },
             1000:{
               items:4
             }
           }
         });
        </script>
</body>
</html>