{% load static %}
{% static "images/" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

  <h1>Testing Item Profile Listing</h1>
  <div class="row">
    <div class="col-md-7">
      <img src="{{baseUrl}}/{{object.furnitureImg}}" alt="">
    </div>
    <div class="col md-5" style="color: black;">
      <span>Name : {{ object.furnitureName }}</span><br>
      <span>Price : ${{ object.unitPrice }}</span><br>
    </div>
  </div>  
    
</body>
</html>

