{% load static %}
{% static "images//" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  {% include 'header.html' %}

  <div class="container-fluid p-5" style="margin-top: 5rem; max-width: 85%;">
    <div class="row">
      <div class="col-md-3">
        <div class="card border-0">
          <div class="card-body">
            <img src="" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <h1>askdnla</h1>
        <div class="card border-0">
          <div class="card-body">
<!-- 
            <h2>{{ donation.donationId }}</h2>
            <h2>{{ donation.dateCreated }}</h2>
            <h2>{{ donation.donationImg }}</h2>


            <img src="{{baseUrl}}/{{donation.image}}" alt=""> -->
            {% load crispy_forms_tags %}  
            <form action="" method="post">
              {% csrf_token %}
              {{form|crispy}}
              <!-- <input type="file" name="imgTest" id="imgTest"> -->
              <input type="submit" value="submit">
            </form>

          </div>
        </div>
      </div>
      </div>
    </div>


  </div>
</body>
</html>
