{% load static %}
{% static "images/" as baseUrl %}
{% load crispy_forms_tags %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Swiper demo</title>

    
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <!-- Link Swiper's CSS -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" /> -->

    <!-- Demo styles -->
</html>
<body>
  {% include 'user/header.html' %}
    
    <form method="POST" action="{% url 'ecommerce:about' %}" class="password_change">
        username :
        <input type="text" name="txtUname" value="{{ username }}">
        {% csrf_token %}
        {% crispy form %}
        <!-- <input type="submit" value="save" name="btnSave"> -->
    </form>
</body>
</html>
