{% load static %}
{% static "images/" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>

    <style>
        @import url(../css/variables.css);
        
        .form-control:focus, .btn:focus {
            outline: none !important;
            box-shadow: none !important;
          }
    
        .btn-primary{
            background-color: var(--title-color) !important;
            border: 0  !important;
            width: 100%;
            height: 40px;
            border-radius: 2rem !important;
        }

        .btn-primary:hover{
            background-color: #0075F6 !important;
        }
    </style>
</head>
<body>
    {% include 'user/header.html' %}
    
    <div class="container py-5">
        <div class="row">
            <!------------ CART INFORMATION ------------>
            <div class="col-lg-7">
                <div class="card shadow border-0 mb-3">
                    <div class="card-body">
                        <h3 class="pl-3 pt-3"><b>Shopping Cart</b></h3>
                        <!-- Total products in the cart -->
                        <div class="pl-3">
                            <span style="color: gray;">You have {{ cart|length }} items in the cart.</span>
                        </div>
                        <hr><br>
                        {% csrf_token %}
                        {% for item in cart %}
                        <div class="row">
                            <!-- Item Image -->
                            <div class="col-md-4">
                                <img src="{{baseUrl}}/{{item.furnitureId.furnitureImg}}" alt="" style="width: 180px; height: 180px;">
                            </div>
                            <!-- Item Information -->
                            <div class="col-md-8 mt-4">
                                <div class="mb-2 mb-md-0">
                                    <div class="d-flex justify-content-between">
                                        <div class="col-md-7">
                                            <h3>{{ item.furnitureId.furnitureName }}</h3>
                                            <table>
                                                <tr>
                                                    <td><span>Quantity:&nbsp;</span></td>
                                                    <td>
                                                        <form action="" method="POST">
                                                        {% csrf_token %}
                                                        <input type="number" value="{{ item.quantity }}" 
                                                            id="{{ item.furnitureId.furnitureId }}" class="form-control"
                                                            style="border: 0; width: 4rem;" onclick="calcAmount(this)"
                                                            min="1" max="{{ item.furnitureId.stock }}">
                                                        </form>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                        <!-- Total Price of The Item-->
                                        <div class="col-md-6">
                                            <h3 style="color:orangered">RM <span id="result+{{ item.furnitureId.furnitureId }}">{{ item.get_item_total_price }}</span></h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="">
                                    <a href="{{ item.remove_from_cart_url }}" class="btn mt-3">
                                        <i class="material-icons align-middle" style="font-size:25px;">delete</i>
                                        Remove
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!------------ AMOUNT ------------>
            <div class="col-lg-5">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <div class="pl-3 mt-2">
                            <h3><b>Total Amount</b></h3>
                            <hr />
                            <h1 class="mb-5" style="color:orangered">RM <span id="amount">{{ amount|floatformat:2 }}</span></h1>
                            <div class="d-flex justify-content-center my-4">
                                <a href="{% url 'ecommerce:checkout' %}" class="btn btn-primary">Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'user/footer.html' %}
    
    {% if messages %}
        {% for msg in messages %}
        <script>
            Swal.fire({
                icon: 'success',
                title: '{{ msg }}',
                showConfirmButton: false,
                timer: 1200
            })
        </script>    
        {% endfor %}	
    {% endif %}

    <script>
        var fid = []
        var fprice = []
        var totalPrice = []
        "{% for item in cart %}"
            fid.push( "{{ item.furnitureId.furnitureId }}" )
            fprice.push( "{{ item.furnitureId.unitPrice }}" )
            totalPrice.push( parseFloat("{{ item.get_item_total_price }}") ) 
        "{% endfor %}"

        function calcAmount(elem) 
        {
            var id = elem.id; 
            var qty = document.getElementById(id).value;
            var token = '{{csrf_token}}';
            var amount = 0;
            var total = 0;

            for (var i=0; i<fprice.length; i++) {
                if(fid[i] == id){
                    total = qty * fprice[i]
                    totalPrice[i] = total

                    //document.write("the same" + id + " fid " + fid[i]  + " price " + fprice[i] + " total " + total)
                    if (!isNaN(total))
                        document.getElementById("result+"+fid[i]).innerHTML = (Math.round(total * 100) / 100).toFixed(2);

                    $.ajax({
                        url: '{% url "ecommerce:update-cart" %}',
                        type: 'POST',
                        headers:{
                            "X-CSRFToken": token
                        },
                        data: {
                            'furnitureId':fid[i] ,
                            'quantity': qty,
                        },
                        success: function (response) {
                            console.log(response, typeof(response))
                        }
                    })
                }
                amount = amount + totalPrice[i]
            }
            document.getElementById("amount").innerHTML = amount.toFixed(2);
        }
    </script>


</body>
</html>

