{% load static %}
{% static "images/" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>

    <style>
        @import url(../css/variables.css);
        
        .form-control:focus, .btn:focus {
            outline: none !important;
            box-shadow: none !important;
          }
    
        .btn-primary{
            background-color: var(--title-color) !important;
            border: 0  !important;
            width: 100%;
            height: 40px;
            border-radius: 2rem !important;
        }

        .btn-primary:hover{
            background-color: #0075F6 !important;
        }

        .cart-footer{
            position: absolute;
            bottom: 0;
            width: 100%;    
        }
    </style>
</head>
<body>
    {% include 'user/header.html' %}
    
    <div class="container p-5">
        <!-- <div class="row"> -->
            <!------------ CART INFORMATION ------------>
            <!-- <div class="col-lg-7"> -->
                <div class="card shadow border-0 mb-3 px-5 py-2">
                    <div class="card-body">
                        <h3 class="pl-3 pt-3"><b>Shopping Cart</b></h3>
                        <!-- Total products in the cart -->
                        <div class="pl-3">
                            <span style="color: gray;">You have {{ cart|length }} items in the cart.</span>
                        </div>
                        <hr><br>
                        {% csrf_token %}
                        {% for item in cart %}
                        <!-- <div class="row">
                            <div class="col-md-4">
                                <img src="{{baseUrl}}/{{item.furnitureId.furnitureImg}}" alt="" style="width: 180px; height: 180px;">
                            </div>
                            <div class="col-md-8 mt-4">
                                <div class="mb-2 mb-md-0">
                                    <div class="d-flex justify-content-between">
                                        <div class="col-md-7">
                                            <h3>{{ item.furnitureId.furnitureName }}</h3>
                                            <table>
                                                <tr>
                                                    <td><span>Quantity:&nbsp;</span></td>
                                                    <td>
                                                        <form action="" method="POST">
                                                        {% csrf_token %}
                                                        <input type="number" value="{{ item.quantity }}" 
                                                            id="{{ item.furnitureId.furnitureId }}" class="form-control"
                                                            style="border: 0; width: 4rem;" onclick="calcAmount(this)"
                                                            min="1" max="{{ item.furnitureId.stock }}">
                                                        </form>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                        <div class="col-md-6">
                                            <h3 style="color:orangered">RM <span id="result+{{ item.furnitureId.furnitureId }}">{{ item.get_item_total_price }}</span></h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="">
                                    <a href="{{ item.remove_from_cart_url }}" class="btn mt-3">
                                        <i class="material-icons align-middle" style="font-size:25px;">delete</i>
                                        Remove
                                    </a>
                                </div>
                            </div>
                        </div> -->
<style>
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button {  
    
       opacity: 1;
    
    }
</style>
                        <div class="row ml-auto d-flex align-items-center">
                            <div class="col-md-1">
                                <a href="{{ item.remove_from_cart_url }}" class="btn mt-3">
                                    <span class="material-icons">close</span>
                                </a>
                            </div>
                            <div class="col">
                                <img src="{{baseUrl}}/{{item.furnitureId.furnitureImg}}" alt="" style="width: 150px; height: 150px;">
                            </div>
                            <div class="col">
                                <h3>{{ item.furnitureId.furnitureName }}</h3>
                                <h6 style="color: gray;">Unit Price : RM{{ item.furnitureId.unitPrice }}</h6>
                                <h6 style="color: gray;">Current Stock : {{ item.furnitureId.stock }}</h6>
                            </div>
                            <div class="col">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <input type="number" value="{{ item.quantity }}" 
                                        id="{{ item.furnitureId.furnitureId }}" class="form-control border"
                                        style="border: 0; width: 4rem;" onclick="calcAmount(this)"
                                        min="1" max="{{ item.furnitureId.stock }}">
                                </form>
                            </div>
                            <div class="col">
                                <h3 style="color:orangered">RM <span id="result+{{ item.furnitureId.furnitureId }}">{{ item.get_item_total_price }}</span></h3>
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>



                </div>

            <!-- </div> -->

            <!------------ AMOUNT ------------>
            <!-- <div class="col-lg-5">
                <div class="card shadow border-0 px-5 py-3">
                    <div class="card-body">
                        <div class="pl-3 mt-2">
                            <h3><b>Total Amount</b></h3>
                            <hr />
                            <h1 class="mb-5" style="color:orangered">RM <span id="amount">{{ amount|floatformat:2 }}</span></h1>
                            <div class="d-flex justify-content-center my-4">
                                <a href="{% url 'ecommerce:checkout' %}" class="btn btn-primary">Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        <!-- </div> -->
    </div>

    <style>
        .cart-bar {
           position: fixed;
           left: 0;
           bottom: 0;
           background-color: var(--body-color);
           width: 100%;
           text-align: center;
        }
        </style>
        
    <div class="cart-bar shadow">
        <div class="container">
            <div class="row ml-auto d-flex align-items-center px-5 py-3">
                <div class="col-md-3 text-center">
                    <h3><b>Total Amount</b></h3>
                </div>
                <div class="col-md-6 text-end">
                    <h2 style="color:orangered">RM <span id="amount">{{ amount|floatformat:2 }}</span></h2>
                </div>
                <div class="col-md-2">
                    <a href="{% url 'ecommerce:checkout' %}" class="btn btn-primary">Checkout</a>
                </div>
            </div>                        
        </div>
      </div>

    
    {% if messages %}
        {% for msg in messages %}
        <script>
            Swal.fire({
                icon: 'success',
                title: '{{ msg }}',
                showConfirmButton: false,
                timer: 1200
            })
        </script>    
        {% endfor %}	
    {% endif %}

    <!-- {% if amount == 0 %}
    <script>
        $(document).ready(function() {
            footer = document.getElementById('footer')
            footer.classList.add("cart-footer");
        });
    </script>
    {% endif %} -->

    <script>
        var fid = []
        var fprice = []
        var totalPrice = []
        "{% for item in cart %}"
            fid.push( "{{ item.furnitureId.furnitureId }}" )
            fprice.push( "{{ item.furnitureId.unitPrice }}" )
            totalPrice.push( parseFloat("{{ item.get_item_total_price }}") ) 
        "{% endfor %}"

        // this function is triggered when the user updates the quantity of the cart item
        function calcAmount(elem) 
        {
            var id = elem.id; // the elem.id is represented as the input ID
            var qty = document.getElementById(id).value; // get the quantity(input) value
            var token = '{{csrf_token}}'; // token for to protecting the application from being exploited
            var amount = 0;
            var total = 0;

            for (var i=0; i<fprice.length; i++) {
                // find which item is required to be updated
                if(fid[i] == id){
                    // get the total price of the cart item
                    total = qty * fprice[i]
                    totalPrice[i] = total

                    // update the total price of the cart item on webpage asynchronously 
                    if (!isNaN(total))
                        document.getElementById("result+"+fid[i]).innerHTML = (Math.round(total * 100) / 100).toFixed(2);

                    // create an AJAX call
                    $.ajax({
                        url: '{% url "ecommerce:update-cart" %}',
                        type: 'POST',
                        headers:{
                            "X-CSRFToken": token
                        },
                        data: {
                            'furnitureId':fid[i] ,
                            'quantity': qty,
                        },
                        success: function (response) {
                            console.log(response, typeof(response))
                        }
                    })
                }
                // update the total amount on webpage asynchronously
                amount = amount + totalPrice[i]
            }
            document.getElementById("amount").innerHTML = amount.toFixed(2);
        }
    </script>



</body>
</html>

