    {% load static %}
    {% static "images/" as baseUrl %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- Custom StyleSheet -->
      <link rel="stylesheet" href="{% static 'css/homepage.css' %}"/>  

      <style>
        .btn{
          background-color: var(--title-color) !important;
          border: none !important;
        }
        .btn:focus {
          outline: none !important;
          box-shadow: none !important;
        }
      </style>

    </head>

    <body>
      {% include 'user/header.html' %}


      <div class="container mb-5">
        <div class="row">
          <div class="col">
            <img src="{{baseUrl}}/{{object.furnitureImg}}" alt="" class="mt-5">
          </div>
          <div class="col" style="margin-top: 15%;">
            <h1><b>{{ object.furnitureName }}</b></h1>
            <h3>Current Stock : {{ object.stock }}</h3>
            <h3>Price : RM {{ object.unitPrice }}</h3>
            <a href="{{ object.add_to_cart_url }}" class="btn btn-primary text-uppercase my-3" >
              <i class="uil uil-shopping-cart"></i>
              Add To Cart
          </a>
          </div>
        </div>
      </div>

      <div class="container py-5">
        <h2>You may also like</h2>
        <div class="owl-carousel owl-theme row text-center">
          {% for object in related_items %}
          <div class="col">
              <a href="{{ object.update_view_count_url }}">
                  <div class="card text-center">
                      <div class="card-body">
                          <img src="{{baseUrl}}/{{object.furnitureImg}}" alt="" class="mb-3 mx-auto">
                          <h3 class="card__fName text-uppercase">{{object.furnitureName}}</h3>
                          <h2 class="card__fPrice mb-3">RM {{object.unitPrice}}</h2>
                          <a href="{{ object.add_to_cart_url }}" class="card__button text-uppercase mb-3">
                              <i class="uil uil-shopping-cart"></i>
                              Add To Cart
                          </a>
                      </div>
                  </div>
              </a>
          </div>
          {% endfor %}
      </div>
      </div>
      
      {% include 'user/footer.html' %}
      

      <script type="text/javascript">
        // Owl Carousel JS
        $('.owl-carousel').owlCarousel({
           loop:true,
           nav:true,
           dots: true,
           margin: 10,
           navText : ['<i class="uil uil-angle-left-b swiper-portfolio-icon"></i>','<i class="uil uil-angle-right-b swiper-portfolio-icon"></i>'],
           responsive:{
             0:{
               items:2
             },
             600:{
               items:3
             },
             1000:{
               items:4
             }
           }
         });
        </script>

    </body>
    </html>


  

