{% load static %}
{% static "images/" as baseUrl %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style>
    @import url(../css/variables.css);
    .form-control{
      margin-bottom: 1.5rem;
    }
    .form-control:focus, .form-select:focus, .btn:focus {
      outline: none !important;
      box-shadow: none !important;
    }
    .card-body a{
      color: var(--title-color);
    }
    .btn-primary{
      color: var(--title-color) !important;
      border: none !important; 
      background: none !important; 
    }
    .btn-primary:hover, .btn-primary:focus {
      outline: none !important;
      box-shadow: none !important;
      color: #0075F6 !important;;
    }
    .btn-secondary{
      background-color: var(--title-color) !important;
      border: 0  !important;
      width: 20%;
      height: 40px;
      float: right;
      color: white !important;
  }
  .btn-secondary:hover{
      background-color: #0075F6 !important;
  }
  .profile_pic{
		max-width: 300px;
		max-height: 300px;
		margin: 0 auto;
		border-radius: 50%;
	}
  .btn.btn-active{
    color: #333;
    background-color:#0075F6 !important;
  }
  </style>
</head>
<body>
  {% include 'user/header.html' %}

  <div class="container-fluid p-4 mb-5" style="margin-top: 5rem; max-width: 90%;">
    <div class="row">
      <!------------- Side Bar ------------->
      <div class="col-md-3">
        <div class="card shadow-sm border-0">
          <div class="card-body">
            <div class="text-center">
              <img src="{% if customer.profile_pic %}{{baseUrl}}/{{customer.profile_pic}} {% else %} {% static 'images/account/default.png' %} {% endif %}" alt="" style="max-width: 50%;" class="profile_pic mb-2">
              <h3>Hey, {{ request.user }}</h3>
            </div>
            <hr>

            <a href="{% url 'ecommerce:profile' section='account' %}" class="btn btn-primary ml-3">
              <i class="material-icons align-middle mr-2" aria-hidden="true">person</i>
              <span class="align-middle">My Account</span>
            </a>
            <hr>
            <a href="{% url 'ecommerce:profile' section='order' %}" class="btn btn-primary ml-3">
              <i class="material-icons align-middle mr-2" aria-hidden="true">list_alt</i>
              <span class="align-middle">My Order</span>
            </a>
            <hr>
            <a href="{% url 'ecommerce:profile' section='donation' %}" class="btn btn-primary ml-3">
              <i class="material-icons align-middle mr-2" aria-hidden="true">volunteer_activism</i>
              <span class="align-middle">My Donation</span>
            </a>
            <hr>
          </div>
        </div>
      </div>

      <!------------- Main Area ------------->
      <div class="col-md-9">
        <!------------- Profile Area ------------->
        <section id="profile" style="display: block; color: var(--title-color);">
          <div class="row">
            <div class="col">
              <h1>&nbsp;My Profile</h1>
            </div>
            <div class="col">
              <a type="submit" class="btn btn-secondary w-50" href="{% url 'ecommerce:profile' section='settings' %}">
                <i class="material-icons align-middle" aria-hidden="true">settings</i>
                Change Password
              </a>
            </div>
          </div>
          <div class="card shadow-sm border-0 px-3">
            <div class="card-body">
              <form action="" method="POST" enctype="multipart/form-data" class="py-3 px-4 form-horizontal">
                {% csrf_token %}
               <h5 style="color: var(--title-color);">&nbsp;<b>Personal Information</b></h5>
                <hr>
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group row">
                      <label for="txtUname" class="col-sm-3 col-form-label">Username</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="txtUname" name="txtUname" value="{{ request.user }}" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                          <div class="col row">
                              <label for="txtFname" class="col col-form-label">First Name</label>
                              <div class="col">
                                <input type="text" class="form-control" id="txtFname" name="txtFname" value="{{ request.user.first_name }}" required />
                              </div>
                          </div>
                          <div class="col row">
                            <label for="txtLname" class="col col-form-label">Last Name</label>
                            <div class="col">
                              <input type="text" class="form-control" id="txtLname" name="txtLname" value="{{ request.user.last_name }}" required />
                            </div>
                        </div>
                      </div>
                    </div>                     
                    <div class="form-group row">
                        <label for="txtEmail" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                          <input type="email" class="form-control" id="txtEmail" name="txtEmail" value="{{ request.user.email }}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                      <label for="txtPhoneNo" class="col-sm-3 col-form-label">Phone Number</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="txtPhoneNo" name="txtPhoneNo" value="{% if customer.phoneNo != NULL %}{{ customer.phoneNo }}{% endif %}" pattern="^(\+?6?01)[0-46-9]-*[0-9]{7,8}$" required>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="rbtnGender" class="col-sm-3 col-form-label">Gender</label>
                      <div class="col-sm-9 mt-2">
                        <div class="custom-control custom-radio form-check-inline">
                          <input type="radio" class="form-check-input" id="rbtnMale" name="rbtnGender" value="male" {% if customer.gender == 'male' %} checked {% endif %} />
                          <label class="custom-control-label" for="rbtnMale">Male</label>
                        </div>
                        <div class="custom-control custom-radio form-check-inline">
                          <input type="radio" class="form-check-input" id="rbtnFemale" name="rbtnGender" value="female" {% if customer.gender == 'female' %} checked {% endif %}/>
                          <label class="custom-control-label" for="rbtnFemale">Female</label>
                        </div>
                      </div>
                    </div><br>

                    <div class="form-group row">
                      <label for="txtDOB" class="col-sm-3 col-form-label">Date of Birth</label>
                      <div class="col-sm-9">
                        <input type="date" class="form-control" id="txtDOB" name="txtDOB" value="{% if customer.dob != NULL %}{{ customer.dob|date:'Y-m-d' }}{%endif%}" required>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 text-center">
                    <img src="{% if customer.profile_pic %}{{baseUrl}}/{{customer.profile_pic}} {% else %} {% static 'images/account/default.png' %} {% endif %}" alt="" style="max-width: 50%;" class="profile_pic mt-5 mb-3">
                    <div class="d-flex justify-content-center">
                      <input type="file" name="imgProfile" id="imgProfile" class="ml-3">
                    </div>
                  </div>
                </div>
                <br>
                <h5 style="color: var(--title-color);">&nbsp;<b>Billing Address</b></h5>
                <hr>
                <div class="form-group  row">
                    <label for="txtAddress" class="col-sm-2 col-form-label">Line 1</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="txtAddress1" name="txtAddress1" value="{% if customer.address1 != NULL %}{{ customer.address1 }}{%endif%}" required>
                    </div>
                </div>
                <div class="form-group row">
                  <label for="txtAddress" class="col-sm-2 col-form-label">Line 2</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtAddress2" name="txtAddress2" value="{% if customer.address2 != NULL %}{{ customer.address2 }}{%endif%}" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="txtTown" class="col-sm-2 col-form-label">Town/City</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtTown" name="txtTown" value="{% if customer.town != NULL %}{{ customer.town }}{%endif%}" required>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col row">
                      <label for="txtPostCode" class="col-sm-4 col-form-label">Postcode</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="txtPostCode" name="txtPostCode" value="{% if customer.postcode != NULL %}{{ customer.postcode }}{%endif%}" required />
                      </div>
                  </div>
                  <div class="col row">
                    <label for="ddlState" class="col-sm-4 col-form-label">State</label>
                    <div class="col-sm-8">
                      <select class="form-select" id="ddlState" name="ddlState" required>
                        {% for state in states %}
                        <option value="{{ state }}"
                            {% ifequal state customer.state %} selected {% endifequal %}>
                            {{ state }}
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div> 
                <div class="d-flex justify-content-center">
                  <input type="submit" class="btn btn-secondary mr-3" name="btnUpdate" value="Update"/>&emsp;
                  <a href="{% url 'ecommerce:profile' section='account' %}" class="btn btn-secondary">Cancel</a>
                </div> 
              </form> 
            </div>
          </div>
        </section>

        <!------------- Change Password ------------->
        <section class="settings" id="settings" style="display: none;">
          <h1>&nbsp;Change Password</h1>
          <div class="card shadow-sm border-0 px-5 py-3" style="color: var(--first-color);">
            <div class="card-body">
              <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex justify-content-center pt-3">
                  <input type="submit" name="btnSave" value="Save" class="btn btn-secondary mr-3">&emsp;
                  <a href="{% url 'ecommerce:profile' section='profile' %}" class="btn btn-secondary">Cancel</a>
                </div>
              </form>
            </div>
          </div>
        </section>

        <!------------- Order Area ------------->
        <section id="order" style="display: none;">
          <h1>&nbsp;My Order</h1>
          <div class="btn-group w-100 my-3" role="group" aria-label="Basic example">
            <button type="button" id="{{ processing_items_list }}" class="btn btn-secondary btn-process btn-active">Processing</button>
            <button type="button" id="{{ delivered_items_list }}" class="btn btn-secondary btn-deliver">Delivered</button>
            <button type="button" id="{{ completed_items_list }}" class="btn btn-secondary btn-complete">Completed</button>
          </div>

          {% for order,items_list in order_data %}
              <!-- Processing Order -->
              {% if order.isDelivered == False and order.isReceived == False %}
              <div id="processing-order">
                <div class="card shadow-sm border-0"  style="color: var(--title-color);">
                  <div class="card-body py-4 px-5">
                    <h3><b>Order ID :</b> {{ order.orderId }}</h3><hr>
                    <div class="row"> 
                      <div class="col-md-9">
                        <span><b>Date :</b> {{ order.orderDate }}</span><br>
                        <span><b>Address :</b> {{ order.shippingAddress }}</span>
                      </div>
                      <div class="col-md-3">
                        <h3 class="text-right" style="color: orangered;">Processing</h3>
                      </div>
                    </div>
                    <table class="table mt-3 text-center">
                      <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">Name</th>
                          <th scope="col">Unit Price</th>
                          <th scope="col">Quantity</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for item in items_list %}
                        <tr>
                          <td style="max-width: 10px;">
                            <img src="{{baseUrl}}/{{item.furnitureId.furnitureImg}}" alt="" style="width: 80px; height: 80px;">
                          </td>
                          <td class="align-middle">{{ item.furnitureId.furnitureName}}</td>
                          <td class="align-middle">{{ item.furnitureId.unitPrice}}</td>
                          <td class="align-middle">{{ item.quantity }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                    <hr>
                    <div class="row">
                      <div class="col">
                        <h4><b>Total Amount: ${{ order.amount }}</b></h4>
                      </div>
                      {% if order.isReceived == False %}
                        <div class="col">
                          <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="hdfOrderId" value="{{ order.orderId }}">
                            <input type="submit" class="btn btn-secondary" name="btnReceive" value="Receive" {% if order.isDelivered == False %} disabled {% endif %}/>
                          </form>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <br><br>
              </div>
              {% endif %}


              <!-- Delivered Order -->
              <div id="delivered-order" style="display: none;">
                {% if order.isDelivered == True and order.isReceived == False %}
                <div class="card shadow-sm border-0"  style="color: var(--title-color);">
                  <div class="card-body py-4 px-5">
                    <h3><b>Order ID :</b> {{ order.orderId }}</h3><hr>
                    <div class="row"> 
                      <div class="col-md-9">
                        <span><b>Date :</b> {{ order.orderDate }}</span><br>
                        <span><b>Address :</b> {{ order.shippingAddress }}</span>
                      </div>
                      <div class="col-md-3">
                        <h3 class="text-right" style="color: orangered;">Delivered</h3>
                      </div>
                    </div>
                    <table class="table mt-3 text-center">
                      <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">Name</th>
                          <th scope="col">Unit Price</th>
                          <th scope="col">Quantity</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for item in items_list %}
                        <tr>
                          <td style="max-width: 10px;">
                            <img src="{{baseUrl}}/{{item.furnitureId.furnitureImg}}" alt="" style="width: 80px; height: 80px;">
                          </td>
                          <td class="align-middle">{{ item.furnitureId.furnitureName}}</td>
                          <td class="align-middle">{{ item.furnitureId.unitPrice}}</td>
                          <td class="align-middle">{{ item.quantity }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                    <hr>
                    <div class="row">
                      <div class="col">
                        <h4><b>Total Amount: ${{ order.amount }}</b></h4>
                      </div>
                      {% if order.isReceived == False %}
                      <div class="col">
                        <form action="" method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
                          <input type="hidden" name="hdfOrderId" value="{{ order.orderId }}">
                          <input type="submit" class="btn btn-secondary" name="btnReceive" value="Receive" {% if order.isDelivered == False %} disabled {% endif %}/>
                        </form>
                      </div>
                    {% endif %}
                    </div>
                  </div>
                </div>
                <br><br>
                {% endif %}
              </div>
              
              <!-- Completed Order -->
              <div id="completed-order" style="display: none;">
                {% if order.isReceived == True and order.isDelivered == True %}
                <div class="card shadow-sm border-0"  style="color: var(--title-color);">
                  <div class="card-body py-4 px-5">
                    <h3><b>Order ID :</b> {{ order.orderId }}</h3><hr>
                    <div class="row"> 
                      <div class="col-md-9">
                        <span><b>Date :</b> {{ order.orderDate }}</span><br>
                        <span><b>Address :</b> {{ order.shippingAddress }}</span>
                      </div>
                      <div class="col-md-3">
                        <h3 class="text-right" style="color: orangered;">Completed</h3>
                      </div>
                    </div>
                    <table class="table mt-3 text-center">
                      <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">Name</th>
                          <th scope="col">Unit Price</th>
                          <th scope="col">Quantity</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for item in items_list %}
                        <tr>
                          <td style="max-width: 10px;">
                            <img src="{{baseUrl}}/{{item.furnitureId.furnitureImg}}" alt="" style="width: 80px; height: 80px;">
                          </td>
                          <td class="align-middle">{{ item.furnitureId.furnitureName}}</td>
                          <td class="align-middle">{{ item.furnitureId.unitPrice}}</td>
                          <td class="align-middle">{{ item.quantity }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                    <hr>
                    <div class="row">
                      <div class="col">
                        <h4><b>Total Amount: ${{ order.amount }}</b></h4>
                      </div>
                      {% if order.isReceived == False %}
                        <div class="col">
                          <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="hdfOrderId" value="{{ order.orderId }}">
                            <input type="submit" class="btn btn-secondary" name="btnReceive" value="Receive" {% if order.isDelivered == False %} disabled {% endif %}/>
                          </form>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <br><br>
                {% endif %}
              </div>
          {% endfor %}
        </section>

        <!------------- Donation Area ------------->
        <section id="donation" style="display: none;">
          <h1>&nbsp;My Donation</h1>
          <div class="btn-group w-100 my-3" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary btn-donate-process btn-active">Processing</button>
            <button type="button" class="btn btn-secondary btn-reject">Rejected</button>
            <button type="button" class="btn btn-secondary btn-accept">Accepted</button>
          </div>

          {% for donation in donations %}
            <!-- Donation Accepted  -->
            <div id="donate-accepted" style="display: none;">
            {% if donation.isApproved == True %}
              <div class="card shadow-sm border-0"  style="color: var(--title-color);">
                <div class="card-body py-4 px-5">
                  <div class="row">
                    <div class="col-md-9">
                      <h3>Donation ID: {{ donation.donationId }}</h3>
                    </div>
                    <div class="col-md-3 text-uppercase">
                      <h2 style="color: orangered;"><b>ACCEPTED</b></h2>                   
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-3">
                      <img src="{{baseUrl}}/{{donation.image}}" alt="" style="max-width: 80%;">
                    </div>
                    <div class="col-md-9">
                      <table class="table table-borderless table-sm">
                        <tbody>
                          <tr>
                            <th>Request Date</th>
                            <td>{{ donation.dateCreated }}</td>
                          </tr>
                          <tr>
                            <th>Description</th>
                            <td>{{ donation.description }}</td>
                          </tr>
                          <tr>
                            <th scope="row">Year Purchased</th>
                            <td>{{ donation.yearPurchased }}</td>
                          </tr>
                          <tr>
                            <th>Original Price</th>
                            <td>{{ donation.originalPrice }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <br>    
            {% endif %}
            </div>

            <!-- Donation Rejected  -->
            <div id="donate-rejected" style="display: none;">
            {% if donation.isApproved == False %}
              <div class="card shadow-sm border-0"  style="color: var(--title-color);">
                <div class="card-body py-4 px-5">
                  <div class="row">
                    <div class="col-md-9">
                      <h3>Donation ID: {{ donation.donationId }}</h3>
                    </div>
                    <div class="col-md-3 text-uppercase">
                      <h2 style="color: orangered;"><b>REJECTED</b></h2>                   
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-3">
                      <img src="{{baseUrl}}/{{donation.image}}" alt="" style="max-width: 80%;">
                    </div>
                    <div class="col-md-9">
                      <table class="table table-borderless table-sm">
                        <tbody>
                          <tr>
                            <th>Request Date</th>
                            <td>{{ donation.dateCreated }}</td>
                          </tr>
                          <tr>
                            <th>Description</th>
                            <td>{{ donation.description }}</td>
                          </tr>
                          <tr>
                            <th scope="row">Year Purchased</th>
                            <td>{{ donation.yearPurchased }}</td>
                          </tr>
                          <tr>
                            <th>Original Price</th>
                            <td>{{ donation.originalPrice }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <br>              
            {% endif %}
            </div>

            <!-- Donation in processing -->
            <div id="donate-process" style="display: display;">
            {% if donation.isApproved == NULL %}
              <div class="card shadow-sm border-0"  style="color: var(--title-color);">
                <div class="card-body py-4 px-5">
                  <div class="row">
                    <div class="col-md-9">
                      <h3>Donation ID: {{ donation.donationId }}</h3>
                    </div>
                    <div class="col-md-3 text-uppercase">
                      <h2 style="color: orangered;"><b>PROCESSING</b></h2>                   
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-3">
                      <img src="{{baseUrl}}/{{donation.image}}" alt="" style="max-width: 80%;">
                    </div>
                    <div class="col-md-9">
                      <table class="table table-borderless table-sm">
                        <tbody>
                          <tr>
                            <th>Request Date</th>
                            <td>{{ donation.dateCreated }}</td>
                          </tr>
                          <tr>
                            <th>Description</th>
                            <td>{{ donation.description }}</td>
                          </tr>
                          <tr>
                            <th scope="row">Year Purchased</th>
                            <td>{{ donation.yearPurchased }}</td>
                          </tr>
                          <tr>
                            <th>Original Price</th>
                            <td>{{ donation.originalPrice }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <br>              
            {% endif %}

          {% endfor %}
        </section>
      </div>
    </div>
  </div>

  {% include 'user/footer.html' %}

  {% if messages %}
    {% for msg in messages %}
    <script>
        Swal.fire({
            icon: 'success',
            title: '{{ msg }}',
        })
    </script>    
    {% endfor %}	
  {% endif %}


  <script type="text/javascript">
    $(document).ready(function() {
      if (window.location.href.indexOf('account') > -1) {
        showProfile(); 
      }
      else if (window.location.href.indexOf('order') > -1){
        showOrders(); 
      }
      else if (window.location.href.indexOf('donation') > -1){
        showDonations(); 
      }
      else if (window.location.href.indexOf('settings') > -1){
        showSettings(); 
      }
    });

    $(".btn-group > .btn").click(function(){
      $(".btn-group > .btn").removeClass("btn-active");
      $(this).addClass("btn-active");

    });



    $('.btn.btn-process').on('click',function(e){
      var w = document.getElementById("processing-order");
      var x = document.getElementById("delivered-order");
      var y = document.getElementById("completed-order");

      if (w.style.display === "none") {
        w.style.display = "block";
        x.style.display = "none";
        y.style.display = "none";
      }
    })


    $('.btn.btn-deliver').on('click',function(e){
      var w = document.getElementById("processing-order");
      var x = document.getElementById("delivered-order");
      var y = document.getElementById("completed-order");

      if (x.style.display === "none") {
        x.style.display = "block";
        w.style.display = "none";
        y.style.display = "none";
      }    
    })

    $('.btn.btn-complete').on('click',function(e){
      var w = document.getElementById("processing-order");
      var x = document.getElementById("delivered-order");
      var y = document.getElementById("completed-order");

      console.log(w)
      if (y.style.display === "none") {
        y.style.display = "block";
        x.style.display = "none";
        w.style.display = "none";
      }
    })


    $('.btn.btn-donate-process').on('click',function(e){
      var w = document.getElementById("donate-process");
      var x = document.getElementById("donate-accepted");
      var y = document.getElementById("donate-rejected");

      if (w.style.display === "none") {
        w.style.display = "block";
        x.style.display = "none";
        y.style.display = "none";
      }
    })

    $('.btn.btn-reject').on('click',function(e){
      var w = document.getElementById("donate-process");
      var x = document.getElementById("donate-accepted");
      var y = document.getElementById("donate-rejected");

      if (y.style.display === "none") {
        w.style.display = "none";
        x.style.display = "none";
        y.style.display = "block";
      }
    })

    $('.btn.btn-accept').on('click',function(e){
      var w = document.getElementById("donate-process");
      var x = document.getElementById("donate-accepted");
      var y = document.getElementById("donate-rejected");

      if (x.style.display === "none") {
        w.style.display = "none";
        x.style.display = "block";
        y.style.display = "none";
      }
    })

    function showProfile() {
      var w = document.getElementById("settings");
      var x = document.getElementById("profile");
      var y = document.getElementById("order");
      var z = document.getElementById("donation");

      if (x.style.display === "none") {
        w.style.display = "none";
        x.style.display = "block";
        y.style.display = "none";
        z.style.display = "none";
      }
    }

    function showOrders() {
      var w = document.getElementById("settings");
      var x = document.getElementById("profile");
      var y = document.getElementById("order");
      var z = document.getElementById("donation");

      if (y.style.display === "none") {
        w.style.display = "none";
        x.style.display = "none";
        y.style.display = "block";
        z.style.display = "none";
      }
    }

    function showDonations() {
      var w = document.getElementById("settings");
      var x = document.getElementById("profile");
      var y = document.getElementById("order");
      var z = document.getElementById("donation");

      if (z.style.display === "none") {
        w.style.display = "none";
        x.style.display = "none";
        y.style.display = "none";
        z.style.display = "block";
      }
    }

    function showSettings() {
      var w = document.getElementById("settings");
      var x = document.getElementById("profile");
      var y = document.getElementById("order");
      var z = document.getElementById("donation");

      if (z.style.display === "none") {
        w.style.display = "block";
        x.style.display = "none";
        y.style.display = "none";
        z.style.display = "none";
      }
    }
  </script>
</body>
</html>
